<html>
    <head>
        <title>Sample Page</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $( function() {
                $( "#dialog" ).dialog({
                    autoOpen: false,
                    width: '500px',
                    focus: false,
                    show: {
                        effect: "blind",
                        duration: 500
                    },
                    hide: {
                        effect: "explode",
                        duration: 1000
                    }
                });

                $( "#opener" ).on( "click", function() {
                    $( "#dialog" ).dialog( "open" );
                });
            } );
        </script>
    </head>
    <body>


        
        <script>
            function timedRefresh(timeoutPeriod) {
                setTimeout("location.reload(true);",timeoutPeriod);
            }
                
            window.onload = timedRefresh(5000);
        </script>


        <%- include('includes/header.ejs') %>


        <div id="dialog" title="Instructions">
            1. EKS POD 스케줄링
            <br><br>
            2. Backend CI-CD Using AWSCode Series
            <a href='https://ap-northeast-2.console.aw<s.amazon.com/codesuite/codepipeline/pipelines/mbp-spring-boot-backend/view?region=ap-northeast-2'>Backend</a>
        </div>


        <table class="normal">
            <tr class="normal">
                <td colspan="2" class="normal">    
                    <a href="/product/"><button>상품리스트</button></a>
                    <a href="/order/"><button>주문리스트</button></a>
                </td>
            </tr>
            <tr class="normal">
                <!--td valign="top" class="normal">
                    < left pane -->
                    <!--h4><p class="underline-on-hover"><a href="/static/html/dms.html">Demo #1. 실시간 데이터 마이그레이션(ORACLE -> Aurora MySQL)</a></p></h4>
                    <h4><p class="underline-on-hover"><a href="/static/html/event.html">Demo #2. 수량제한이 있는 이벤트 처리(DB only Vs with Redis)</a></h4>
                    <h4><p class="underline-on-hover"><a href="/static/html/async.html">Demo #3. 주문/결제 비동기 처리(Queue & WebSocket)</a></h4>
                    <h4><p class="underline-on-hover"><a href="/static/html/history.html">Demo #4. 유저별 상품조회 이력관리(/w Redis)</a></h4>
                </td -->
                <td valign="top" class="normal">
                        <!-- right pane -->
                    <image src="https://ocktank-prod-image.s3.ap-northeast-2.amazonaws.com/architecture/ocktank-archi-3.png" width="500" height="600"></image>
                </td>
            </tr>
            <tr class="normal">
                <td class="normal" colspan="2">
                    Backend API HealthCheck <br>
                    <%= data %>
                </td>
            </tr>
        </table>
      
        <%- include('includes/footer.ejs') %>
    
    </body>
</html>
