<html>
    <head>
        <title>Sample Home</title> 
    </head>
    <body>
        <script>
            function timedRefresh(timeoutPeriod) {
                setTimeout("location.reload(true);",timeoutPeriod);
            }
                
            window.onload = timedRefresh(10000);
        </script>

        <%- include('includes/header.ejs') %>
 
        <div>
            <a href="/product/"><button>상품리스트</button></a>
            <a href="/order/"><button>주문리스트</button></a>
        </div>
        <p style="align-content: center;"><h1>Eliminating Database Hot Blocks with Amazon ElastiCache</h1></p>
        <br>
        <div style="align-content: center;">
            <image src="https://ocktank-prod-image.s3.ap-northeast-2.amazonaws.com/architecture/infra-architecture.png" width="500" height="500">
            <image src="https://ocktank-prod-image.s3.ap-northeast-2.amazonaws.com/architecture/ocktank-poc-2.png" width="600" height="380" />        
        </div>
        <br><br>
        <hr style="border:none; border:0.5px dashed gray;">
        <div>
            Backend API HealthCheck <br>
            <%= data %>
        </div>
        <%- include('includes/footer.ejs') %>
    
    </body>
</html>
